#square {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 1px solid red;
    margin: 30px;
    animation: moveRight;
    animation-duration: 5s;
}

@keyframes moveRight {
    25% {
        margin-left: 500px;
    }
    50% {
        margin-top: 500px;
    }
    75% {
        margin-right: 500px;
    }
    100% {
        margin-top: 500px;
    }
}